* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #f1f5f8;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
body {
  padding: 20px;
}
#section-one,
#section-two,
#section-three {
  border-radius: 10px;
}

/*------------------------------------ section one -------------------------------- */
#section-one {
  display: flex;
  border: 5px solid gray;
  justify-content: center;
  align-items: center;
  background-color: #a9d2f1;
  height: 270px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}
#section-one h1 {
  position: absolute;
  top: 25px;
  margin-top: 10px;
}
#section-one #dostupan-novac {
  position: absolute;
  top: 11%;
  font-size: 40px;
  background-color: #f9f9f9;
  padding: 10px;
}
#prikazi-prihod {
  position: absolute;
  top: 22%;
  border-radius: 5px;
  left: 37%;
  height: 40px;
  width: 450px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #27b7b1;
  font-weight: 600;
}
#prikazi-rashod {
  position: absolute;
  top: 28%;
  border-radius: 5px;
  width: 450px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  left: 37%;
  background-color: #ff4e4b;
  font-weight: 600;
  margin-top: 10px;
}
.cifra-prihod {
  margin-right: 50px;
  font-size: 20px;
}
.cifra-rashod {
  margin-left: 230px;
  font-size: 20px;
}
#procenat-rashod {
  background-color: lightgoldenrodyellow;
  padding: 2px;
  border-radius: 4px;
}

/*------------------------------------ section two -------------------------------- */
#section-two {
  background-color: #a9d2f1;
  height: 60px;
  border: 5px solid gray;
  width: 65%;
  margin-left: auto;
  padding: 35px;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#select {
  border-radius: 5px;
}
#section-two #select {
  height: 30px;
  margin-right: 20px;
}
#section-two #input-opis {
  height: 30px;
  margin-right: 20px;
  width: 300px;
  border-radius: 5px;
  padding-left: 10px;
}
#section-two #input-iznos {
  height: 30px;
  border-radius: 5px;
  margin-right: 20px;
  width: 200px;
  padding-left: 10px;
}
#section-two #ok-button {
  height: 30px;
  margin-right: 10px;
  padding: 0 12px;
  border-radius: 5px;
  font-weight: 600;
  background-color:  lightgoldenrodyellow;
  color: black;
}
#section-two #ok-button:hover {
  background-color: gray;
  color: black;
}
#change-color {
  height: 30px;
  padding: 0 12px;
  border-radius: 5px;
  font-weight: 600;
  background-color:  gold;
  color: black;
}

/*------------------------------------ section three -------------------------------- */
#section-three {
  background-color: #a9d2f1;
  height: auto;
  width: 65%;
  border: 5px solid gray;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section-three #listaPrihoda,
#section-three #listaRashoda {
  width: 48%;
  background-color: #f1f5f8;
  font-size: 20px;
  font-weight: 500;
  margin-left: 5px;
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  height: auto;
  background-color: #f1f5f8;
  font-weight: 600;
}

.mainDiv1 {
  display: flex;
  justify-content: center;
}
.div1 {
  margin-right: 15px;
  margin-left: 5px;
  justify-content: left;
}
.div2 {
  margin-right: 5px;
  color: #27B7B1;
}
.div3 {
  margin-right: 10px;
  color: #27B7B1;
}
.obrisi1 {
  padding: 2px;
}
.mainDiv2 {
  display: flex;
  justify-content: center;
}
.div21 {
  margin-right: 15px;
  margin-left: 5px;
}
.div22 {
  margin-right: 5px;
  color: #FF4E4B;
}
.div23 {
  margin-right: 10px;
  color: #FF4E4B;
}
.obrisi2 {
  padding: 2px;
}
.hr {
  width: 300px;
}
#change-color:hover {
  background-color: navajowhite;
  color:black;
}